.vs/

Packages/

**/bin/*
**/obj/*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
.DS_Store
.vscode/        
mochawesome-report/
node_modules/        
html-report/